<a href="https://colab.research.google.com/github/cal3eca/PROJETO-EXTRA-M4/blob/main/PROJETO_EXTRA_M%C3%93DULO_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np

# Criando o DataFrame com dados aleatórios para 10 funcionários da seção de orçamentos da Milsa
dados = {
    'Estado Civil': ['Solteiro', 'Casado', 'Casado', 'Solteiro', 'Divorciado', 'Solteiro', 'Casado', 'Solteiro', 'Casado', 'Solteiro'],
    'Escolaridade': ['Médio', 'Superior', 'Superior', 'Médio', 'Médio', 'Médio', 'Superior', 'Médio', 'Médio', 'Superior'],
    'Filhos': [0, 2, 1, 0, 1, 0, 2, 0, 2, 0],
    'Salário': [2100, 3500, 4300, 1800, 2400, 1900, 4000, 1700, 3200, 3600],
    'Idade': [32, 27, 41, 35, 28, 29, 33, 30, 38, 31],
    'Região': ['Sul', 'Sul', 'Sudeste', 'Sudeste', 'Sul', 'Sudeste', 'Sul', 'Sudeste', 'Sul', 'Sudeste']
}

df = pd.DataFrame(dados, index=[f'Funcionário {i+1} ' for i in range(10)])

print(df)

                Estado Civil Escolaridade  Filhos  Salário  Idade   Região
Funcionário 1       Solteiro        Médio       0     2100     32      Sul
Funcionário 2         Casado     Superior       2     3500     27      Sul
Funcionário 3         Casado     Superior       1     4300     41  Sudeste
Funcionário 4       Solteiro        Médio       0     1800     35  Sudeste
Funcionário 5     Divorciado        Médio       1     2400     28      Sul
Funcionário 6       Solteiro        Médio       0     1900     29  Sudeste
Funcionário 7         Casado     Superior       2     4000     33      Sul
Funcionário 8       Solteiro        Médio       0     1700     30  Sudeste
Funcionário 9         Casado        Médio       2     3200     38      Sul
Funcionário 10      Solteiro     Superior       0     3600     31  Sudeste

In [21]:
#Qual a média de idade dos funcionários?
print(df ['Idade (Anos)'].mean())

32.4

In [41]:
#Dos funcionários, com filhos, qual o número mais comum?
func_filhos = df[df ['Filhos'] > 0]
contagem_filhos = func_filhos['Filhos'].value_counts()
numero_comum = contagem_filhos.idxmax()
print(int(numero_comum))

2

In [42]:
#Qual a média e a mediana dos salários dos funcionários? O que esses valores
#podem indicar?
print (df ['Salário'].mean())
print (df ['Salário'].median())

2850.0
2800.0

In [49]:
#Quais são os tipos de instrução existentes? 
print(df ['Escolaridade'].unique())

['Médio' 'Superior']

In [62]:
# Qual a média de salário e idade das pessoas casadas?
casados = df ['Estado Civil'] == 'Casado'

salario_casado = df.loc [casados, 'Salário'].mean()
media_idade_casado = df.loc[casados, 'Idade'].mean()
print('A média salarial das pessoas casadas é de : ',salario_casado, 'R$')
print('A média de idade das pessoas casadas é de : ',media_idade_casado, 'Anos')

A média salarial das pessoas casadas é de :  3750.0 R$
A média de idade das pessoas casadas é de :  34.75 Anos

In [82]:
#Qual o funcionário que possui maior salário (informe seus atributos)?

maiorsalario = df ['Salário'].idxmax()
func_maior_salario = df.loc[maiorsalario]
print('O funcionário com o maior salário é: \n',func_maior_salario)

O funcionário com o maior salário é:
 Estado Civil      Casado
Escolaridade    Superior
Filhos                 1
Salário             4300
Idade                 41
Região           Sudeste
Name: Funcionário 3 , dtype: object

In [81]:
#Qual o funcionário que possui menor idade (informe seus atributos)?
menoridade = df ['Idade'].idxmin()
func_menor_idade = df.loc[menoridade]
print('O funcionário com a menor idade é:\n',func_menor_idade)

O funcionário com a menor idade é:
 Estado Civil      Casado
Escolaridade    Superior
Filhos                 2
Salário             3500
Idade                 27
Região               Sul
Name: Funcionário 2 , dtype: object

In [85]:
#Quem são os funcionários que possuem no máximo 35 anos, são da capital e tem
#instrução de 2o grau?

cond_idade = df['Idade'] <= 35
cond_regiao = df['Região'] == 'Sudeste'
cond_escolaridade = df['Escolaridade'] == 'Médio'

selecao = df [cond_idade & cond_regiao & cond_escolaridade]
print('Funcionários selecionados:')
print(selecao)

Funcionários selecionados:
               Estado Civil Escolaridade  Filhos  Salário  Idade   Região
Funcionário 4      Solteiro        Médio       0     1800     35  Sudeste
Funcionário 6      Solteiro        Médio       0     1900     29  Sudeste
Funcionário 8      Solteiro        Médio       0     1700     30  Sudeste

In [86]:
mapeamento_estado_civil = {'Solteiro': 1, 'Casado': 2, 'Divorciado': 3}
mapeamento_escolaridade = {'Médio': 1, 'Superior': 2}

df.replace({'Estado Civil': mapeamento_estado_civil, 'Escolaridade': mapeamento_escolaridade}, inplace=True)

correlacao = df.corr()

print(correlacao)

              Estado Civil  Escolaridade    Filhos   Salário     Idade
Estado Civil      1.000000      0.184637  0.726300  0.438286  0.021296
Escolaridade      0.184637      1.000000  0.421464  0.879174  0.115342
Filhos            0.726300      0.421464  1.000000  0.654620  0.156640
Salário           0.438286      0.879174  0.654620  1.000000  0.408158
Idade             0.021296      0.115342  0.156640  0.408158  1.000000

<ipython-input-86-8a61ccafc3a8>:6: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlacao = df.corr()